nav{
    margin-bottom: 40px;
    background-color: #f39c12 !important;
    border-radius: 0.25rem;
}
.mb-5{
    margin-bottom: 0rem!important;
}
.sonbras{
    -webkit-box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.97); 
  box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.97);
  }