.image{
    height:40em; 
    background-size:cover;
    width:auto;
    background-image:url('../assets/img/united-squares-negative.png');
    background-position:50% 50%;
    background-size: 1349px 702px

}