<div class="card" style="float: center;">
  <img src="assets/img/alimento.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
</div>

<div class="container">
  <h1 class="mt-4">
      <p class="font-weight-light"></p>

  </h1>
  
</div>
<!-- /.container -->
<div class="row center" style="    margin-right: -248px;
margin-left: 59px;">
    <div class="col-12 col-md-3"><div class="card">
        <h2>CREOLINA</h2>
        <h5></h5>
        <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/CREOLINA.png" alt="Second slide"></div>
        <p>CREOLINA GOLD</p>
        <h3>Adquirir</h3>
        <p>Desde: $480.00 MNX</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <button type="button" class="btn btn-warning">Comprar</button>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div></div>

    <div class="col-12 col-md-3"><div class="card">
        <h2>FINCA</h2>
        <h5></h5>
        <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/fincaconejos.jpg"></div>
        <p>FINCA CONEJOS X 1 KILO</p>
        <h3>Adquirir</h3>
        <p>Desde: $750.00 MNX</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <button type="button" routerLink="/Detalles" class="btn btn-warning">Comprar</button>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div></div>

    <div class="col-12 col-md-3"><div class="card">
        <h2>FINCA</h2>
        <h5></h5>
        <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/corcel.jpg" alt="Second slide"></div>
        <p>FINCA CORCEL X 40 KILOS</p>
        <h3>Adquirir</h3>
        <p>Desde: $850.00 MNX</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <button type="button" class="btn btn-warning">Comprar</button>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div></div>
  </div>
  <div class="container">
    <h1 class="mt-4">
        <p class="font-weight-light"></p>
  
    </h1>
    
  </div>
  <!-- /.container -->
  <div class="row center" style="    margin-right: -248px;
  margin-left: 59px;">
      <div class="col-12 col-md-3"><div class="card">
          <h2>NOVILLAS</h2>
          <h5></h5>
          <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/novillasdesarrollo.jpg" alt="Second slide"></div>
          <p>NOVILLAS DESARROLLO X 40 KILOS</p>
          <h3>Adquirir</h3>
          <p>Desde: $400.00 MNX</p>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <button type="button" class="btn btn-warning">Comprar</button>
            </li>
          </ul>
          <hr class="d-sm-none">
        </div>
      </div>

      <div class="col-12 col-md-3"><div class="card">
        <h2>FOSFORYSAL</h2>
        <h5></h5>
        <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/alimento21.jpg" alt="Second slide"></div>
        <p>El ganado ira ganando cuerpo desde el primer dia que coma.</p>
        <h3>Adquirir</h3>
        <p>Desde: $400.00 MNX</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <button type="button" class="btn btn-warning">Comprar</button>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
    </div>

    <div class="col-12 col-md-3"><div class="card">
      <h2>ENGORDA</h2>
      <h5></h5>
      <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/alimento10.jpg" alt="Second slide"></div>
      <p>Alimento de alta energia, con 13 y 18% de proteina.</p>
      <h3>Adquirir</h3>
      <p>Desde: $450.00 MNX</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <button type="button" class="btn btn-warning">Comprar</button>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
  </div>

  <!--<br>
  <br>
    <footer>
        <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-6">
                  <h6 class="text-muted lead">CONTACTO:</h6>
                  <h6 class="text-muted">
                    KM. Villahermosa, C.P., Carr. a Balancan 3, El Carmen, 86930<br>
                  Balancan, Tab.<br>
                  Teléfonos: 9165939020 – 9161128449.<br>
                  </h6>
              </div>
              <div class="col-xs-12 col-md-6">
              <div class="pull-right">
             
              </div>
              <div class="row"> <p class="text-muted small text-right">GRUPO SISGEGA, alimentos y Medicamentos, @2019.<br> Todos los derechos reservados.</p></div>
          </div>
        </div>  
      </div>
      </footer>-->