<div class="card" style="float: center;">
  <img src="assets/img/logo.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
</div>

<div class="container">
  <h1 class="mt-4">
      <p class="font-weight-light"></p>

  </h1>
  
</div>
<!-- /.container -->
<div class="row center" style="margin-right: 0rem;
margin-left: 0rem;">
    <div class="col-12 col-md-3">
      <div class="card sonbras">
        <div class="margen">
        <h2>CAMPERO</h2>
        <h5></h5>
        <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/campero.png" alt="Second slide"></div>
        <p>CAMPERO</p>
        <h3></h3>
        <p>Desde: $700.00 MNX</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <button type="button" class="btn btn-warning">Comprar</button>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card sonbras">
        <div class="margen">
        <h2>INVENSAMINA</h2>
        <h5></h5>
        <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/invensamina.png"></div>
        <p>INVENSAMINA 720 SL</p>
        <h3></h3>
        <p>Desde: $650.00 MNX</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <button type="button" routerLink="/Detalles" class="btn btn-warning">Comprar</button>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="card sonbras">
        <div class="margen">
        <h2>PANZER</h2>
        <h5></h5>
        <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/PANZER.jpg" alt="Second slide"></div>
        <p>PANZER 480</p>
        <h3></h3>
        <p>Desde: $750.00 MNX</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <button type="button" class="btn btn-warning">Comprar</button>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="mt-4">
        <p class="font-weight-light"></p>
  
    </h1>
    
  </div>
  <!-- /.container -->
  <div class="row center" style="margin-right: 0rem;
  margin-left: 0rem;">
      <div class="col-12 col-md-3">
        <div class="card sonbras">
          <div class="margen">
          <h2>PANZER</h2>
          <h5></h5>
          <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/panzer.png" alt="Second slide"></div>
          <p>PANZER 747 WG</p>
          <h3></h3>
          <p>Desde: $500.00 MNX</p>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <button type="button" class="btn btn-warning">Comprar</button>
            </li>
          </ul>
          <hr class="d-sm-none">
        </div>
        </div>
      </div>
 
      <div class="col-12 col-md-3">
        <div class="card sonbras">
          <div class="margen">
          <h2>PARTNER</h2>
          <h5></h5>
          <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/PARTNER.png" alt="Second slide"></div>
          <p>PARTNER 50 WP</p>
          <h3></h3>
          <p>Desde: $850.00 MNX</p>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <button type="button" class="btn btn-warning">Comprar</button>
            </li>
          </ul>
          <hr class="d-sm-none">
        </div>
        </div>
      </div>
    </div>


    
    <br>
    <br>
      <footer>
          <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h6 class="text-muted lead">CONTACTO:</h6>
                    <h6 class="text-muted">
                      KM. Villahermosa, C.P., Carr. a Balancan 3, El Carmen, 86930<br>
                    Balancan, Tab.<br>
                    Teléfonos: 9165939020 – 9161128449.<br>
                    </h6>
                </div>
                <div class="col-xs-12 col-md-6">
                <div class="pull-right">
               
                </div>
                <div class="row"> <p class="text-muted small text-right">GRUPO SISGEGA, alimentos y Medicamentos, @2019.<br> Todos los derechos reservados.</p></div>
            </div>
          </div>  
        </div>
        </footer>