<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4 card">
      <h2>ALLIANCE POUR ON</h2>
      <h5>ALLIANCE POUR ON</h5>
      <div class="fakeimg"> <img class="d-block w-100" src="assets/img/medi22.png" alt="Second slide"></div>
      <p>Este es un medicamento la cual se recomienda en los ganados con un 20% de descuento.</p>
      <p>Este es un medicamento soluble</p>
      <h3></h3>
      <p>Desde: $723.00 MNX</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <button type="button" class="btn btn-warning">Comprar</button>
        </li>
        <li class="nav-item mt-1">
          <button type="button" routerLink="/Principal" class="btn btn-danger">Cancelar</button>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <br>
    <div class="col-sm-8 card">
      <h2>Detalles del producto</h2>
      <h5>20% de descuento</h5>
      <div class="fakeimg"> <img class="d-block w-100" src="assets/img/medi22.png" alt="Second slide"></div>
      <br>
      <p>Este es un medicamento recomendado por ganaderos que es de solucion soluble, ademas de eso la obtendra con un 20% de descuento.</p>
      <p>COMPOSICIÓN : Cada 100 ml de producto contienen: Fipronil 1 g, excipientes c.s.p. 100 ml.</p>
      <br>
      <h2>Descripcion del producto</h2>
      <h5>El oferton solo se encontrara en este día, 05/04/2019</h5>
      <div class="fakeimg"></div>
      <p>INDICACIONES: Para el tratamiento y control de infestaciones por ectoparásitos de los bovinos: Garrapatas: Boophilus microplus; Nuche: Dermatobia hominis; Piojos masticadores: Damalinia bovis; Piojos chupadores: Linognathus vituli; Mosca de los cuernos o de la paleta: Haematobia irritans; Prevención de miasis o gusaneras: Cochliomyia hominivorax.</p>

      <p>PRECAUCIONES: No tratar vacas produciendo leche para consumo humano. No tratar animales dentro de los 100 días anteriores al sacrificio para consumo humano.</p>

      <p>EMPLEO Y DOSIS: Para uso externo únicamente. Aplicar 1 ml de producto por cada 10 kilos de peso vivo sobre el dorso del animal, en el espacio comprendido entre la cruz y la base de la cola.</p>
    </div>
  </div>
</div>

<br>
<br>
  <footer>
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h6 class="text-muted lead">CONTACTO:</h6>
                <h6 class="text-muted">
                  KM. Villahermosa, C.P., Carr. a Balancan 3, El Carmen, 86930<br>
                Balancan, Tab.<br>
                Teléfonos: 9165939020 – 9161128449.<br>
                </h6>
            </div>
            <div class="col-xs-12 col-md-6">
            <div class="pull-right">
           
            </div>
            <div class="row"> <p class="text-muted small text-right">GRUPO SISGEGA, alimentos y Medicamentos, @2019.<br> Todos los derechos reservados.</p></div>
        </div>
      </div>  
    </div>
    </footer>