<div class="card" style="float: center;">
  <img src="assets/img/vac.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"></p>
  </div>
</div>

<div class="container">
  <h1 class="mt-4">
      <p class="font-weight-light"></p>

  </h1>
  
</div>
<!-- /.container -->
<div class="row center" style="    margin-right: -248px;
margin-left: 59px;">
    <div class="col-12 col-md-3"><div class="card">
        <h2>BOVISAN</h2>
        <h5></h5>
        <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/VIR.png" alt="Second slide"></div>
        <p>BOVISANN LEPTO 8 X 15 DOSIS</p>
        <h3>Adquirir</h3>
        <p>Desde: $580.00 MNX</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <button type="button" class="btn btn-warning">Comprar</button>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div></div>

    <div class="col-12 col-md-3"><div class="card">
        <h2>CLOSTRISAN</h2>
        <h5></h5>
        <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/Clos.jpg"></div>
        <p>CLOSTRISAN P </p>
        <h3>Adquirir</h3>
        <p>Desde: $650.00 MNX</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <button type="button" routerLink="/Detalles" class="btn btn-warning">Comprar</button>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div></div>

    <div class="col-12 col-md-3"><div class="card">
        <h2>CLOSTRISAN-9+T
        </h2>
        <h5></h5>
        <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/Clostri.png" alt="Second slide"></div>
        <p>CLOSTRISAN-9+T X50 DOSIS</p>
        <h3>Adquirir</h3>
        <p>Desde: $850.00 MNX</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <button type="button" class="btn btn-warning">Comprar</button>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div></div>
  </div>
  <div class="container">
    <h1 class="mt-4">
        <p class="font-weight-light"></p>
  
    </h1>
    
  </div>
  <!-- /.container -->
  <div class="row center" style="    margin-right: -248px;
  margin-left: 59px;">
      <div class="col-12 col-md-3"><div class="card">
          <h2>COVEXIN</h2>
          <h5></h5>
          <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/Cove.png" alt="Second slide"></div>
          <p>COVEXIN X 50 DOSIS</p>
          <h3>Adquirir</h3>
          <p>Desde: $600.00 MNX</p>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <button type="button" class="btn btn-warning">Comprar</button>
            </li>
          </ul>
          <hr class="d-sm-none">
        </div></div>
  
      <div class="col-12 col-md-3"><div class="card">
          <h2>ENCEFALITIS</h2>
          <h5></h5>
          <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/ENCE.png"></div>
          <p>ENCEFALITIS ESQUINA X 10 DOSIS</p>
          <h3>Adquirir</h3>
          <p>Desde: $550.00 MNX</p>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <button type="button" routerLink="/Detalles" class="btn btn-warning">Comprar</button>
            </li>
          </ul>
          <hr class="d-sm-none">
        </div></div>
  
      <div class="col-12 col-md-3"><div class="card">
          <h2>PROVIDEAN</h2>
          <h5></h5>
          <div class="fakeimg"> <img width="200" height="150" class="d-block w-100" src="assets/img/PROVIDEAN.png" alt="Second slide"></div>
          <p>PROVIDEAN CLLOSTIDIAL 8</p>
          <h3>Adquirir</h3>
          <p>Desde: $850.00 MNX</p>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <button type="button" class="btn btn-warning">Comprar</button>
            </li>
          </ul>
          <hr class="d-sm-none">
        </div></div>
    </div>


    <br>
    <br>
      <footer>
          <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h6 class="text-muted lead">CONTACTO:</h6>
                    <h6 class="text-muted">
                      KM. Villahermosa, C.P., Carr. a Balancan 3, El Carmen, 86930<br>
                    Balancan, Tab.<br>
                    Teléfonos: 9165939020 – 9161128449.<br>
                    </h6>
                </div>
                <div class="col-xs-12 col-md-6">
                <div class="pull-right">
               
                </div>
                <div class="row"> <p class="text-muted small text-right">GRUPO SISGEGA, alimentos y Medicamentos, @2019.<br> Todos los derechos reservados.</p></div>
            </div>
          </div>  
        </div>
        </footer>